@{
    ViewData["Title"] = "Claim Tracking";
}

<h2>Claim Tracking</h2>

<table class="table">
    <thead>
        <tr>
            <th>Claim ID</th>
            <th>Date</th>
            <th>Total Amount</th>
            <th>Status</th>
        </tr>
    </thead>
    <!-- I've added an example claim for the sake of showcasing the GUI -->
    <tbody>
        <tr>
            <td>1</td>
            <td>2024-09-10</td>
            <td>R400000</td>
            <td>Pending Approval</td>
        </tr>
       
    </tbody>
</table>